<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MiniDooray - 프로젝트</title>
    <style>
        div {
            padding: 20px;
            border-style: dotted;
            border-color: forestgreen;
        }
        span{
            padding: 20px;
        }
    </style>
</head>
<body>
<th:block th:include="heading/login_info" />
<th:block th:include="heading/project_info" />
<h2>업무 리스트</h2>
<table>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>담당자</td>
        <td>태그</td>
    </tr>
    <tr th:each="task, stat : ${tasks}">
        <td th:text="|${stat.count}|"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.memberName}"></td>
        <td th:text="${task.tags}"></td>
    </tr>
</table>
<a th:href="@{/projects/{id}/members(id=${project.id})}">멤버 리스트</a>
<a th:href="@{/projects/{id}/tags(id=${project.id})}">태그 리스트</a>
<a th:href="@{/projects/{id}/milestones(id=${project.id})}">마일스톤 리스트</a>
</body>
</html>