<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiniDooray - 프로젝트</title>
</head>
<body>
<p>
    <span>프로젝트 이름</span>
    <span>프로젝트 설명</span>
</p>
<h2>프로젝트에 속한 업무</h2>
<table border="1">
    <th>업무명</th>
    <th>상태</th>
    <tbody>
    <tr>
        <td>업무1</td>
        <td>완료됨</td>
    </tr>
    <tr>
        <td>업무2</td>
        <td>진행중</td>
    </tr>
    <tr>
        <td>업무3</td>
        <td>진행중?</td>
    </tr>

    </tbody>
</table>
<br/> <br/>
<h2>멤버 리스트</h2>
<table border="">
    <th>이름</th>
    <th>??</th>
    <tbody>
    <tr>
        <td><span>멤버1</span>
            <span style="margin: 10px; color: seagreen">admin</span>
        </td>
        <td>뭐하죠</td>
    </tr>
    <tr>
        <td>멤버2</td>
        <td>멤버리스트 구성?</td> <a href="/members/project_list/{memberId}"></a>
    </tr>
    <tr>
        <td>멤버3</td>
        <td>할일?</td>
    </tr>
    </tbody>
</table>
</body>
</html>