<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MiniDooray - 프로젝트 목록</title>
    <style>
        div {
            margin: 20px;
            padding: 20px;
            border-style: solid;
            border-color: forestgreen;
        }
    </style>
</head>
<body>
<th:block th:include="/heading/login_info"/>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>설명</th>
        <th>상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project_item, stat : ${projectList}">
        <td th:text="|${stat.count}|">1</td>
        <td><a th:href="@{/projects/{id}(id=${project_item.id})}" th:text="${project_item.name}">테스트 제목1</a></td>
        <td><a th:href="@{/projects/{id}(id=${project_item.id})}" th:text="${project_item.description}">테스트 제목1</a></td>
        <td th:text="${project_item.projectStatus_status}"></td>
    </tr>
    </tbody>
</table>
paging 하기, 클릭하면 넘어가기
</body>
</html>