<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Project Registration</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>프로젝트 등록</h1>
<th:block th:include="/heading/login_info"/><br/>

<form action="#" th:action="@{/projects/register}" th:object="${projectRegisterDto}" method="post">
    <label for="name">Project Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}"><br>

    <label for="description">Project Description:</label><br>
    <textarea id="description" name="description" th:field="*{description}"></textarea><br>
    <input type="hidden" th:value="${accountRedis.accountId}" name="memberId" />
    <input type="hidden" th:value="${accountRedis.username}" name="memberName" />


    <input type="submit" value="Submit">
</form>
</body>
</html>
