<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>테스트페이지</title>
    <style>
        div {
            margin: 30px;
            border-style: dotted;
            border-color: darkgray;
        }
    </style>
</head>
<body>
<th:block th:include="/heading/login_info"/><br/>
<th:block th:include="/heading/login_info"/><br/>

<h1>테스트 페이지 입니다.</h1>
<h1><span th:text="${loginId}"></span>님 안녕하세요</h1>

<!--<div><th:block th:include="index" /></div>-->
<!--<div><th:block th:include="project/project_list" /></div>-->
<!--<div><th:block th:include="tag/tag_register" /></div>-->

</body>
</html>