<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form>
  <label for="title">Title:</label>
  <input type="text" id="title" name="title"><br><br>

  <label for="content">Content:</label>
  <textarea id="content" name="content"></textarea><br><br>

  <label for="writerId">Writer ID:</label>
  <input type="number" id="writerId" name="writerId"><br><br>

  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" name="endDate"><br><br>

  <label for="memberIds">Member IDs:</label>
  <input id="memberIds" name="memberIds" type="text"><br><br>

  <label for="milestoneId">Milestone ID:</label>
  <input type="number" id="milestoneId" name="milestoneId"><br><br>

  <label for="tagIds">Tag IDs:</label>
  <input id="tagIds" name="tagIds" ><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>
