<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    div{
      padding: 20px;
      margin: 10px;
      border-style: solid;
      border-color: darkgray;
    }
  </style>
</head>
<body>
<th:block th:include="/heading/login_info"/><br/>

<table border="1">
    <tr>
        <td>제목</td>
        <td>내용</td>
        <td>생성일</td>
        <td>종료일</td>
        <td>작성자 이름</td>
        <td>마일스톤</td>
        <td>멤버</td>
        <td>태그</td>
    </tr>
    <tr>
        <td th:text="${task.title}"></td>
        <td th:text="${task.content}"></td>
        <td th:text="${task.createdAt}"></td>
        <td th:text="${task.endDate}"></td>
        <td th:text="${task.writerName}"></td>
        <td th:text="${task.milestoneId}">
        <td>
            <span th:each="member : ${task.memberNames}" th:text="${member}"></span>
        </td>
        </td>
        <td>
            <span th:each="tag : ${task.tagNames}" th:text="${tag}"></span>
        </td>
    </tr>
</table>

</body>
</html>