<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 정보</title>
</head>
<body>
<th:block th:include="/heading/login_info"/><br/>

<div>
    <span th:text="project.name">프로젝트 이름</span>
    <span th:text="project.description">프로젝트 설명 설명 설명</span>
</div>
<div>
    <a th:href="@{/projects/{id}/milestones/register(id=${project.id})}"></a>
    <a th:href="@{/projects/{id}/tags/register(id=${project.id})}"></a>
    <a th:href="@{/projects/{id}/tasks/register(id=${project.id})}"></a>
</div>
</body>
</html>