<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiniDooray!</title>
</head>
<body>

<a href="/accounts/register">/accounts/register</a><br/>
<a href="/accounts/1">/accounts/1</a><br/>
<a href="/login">/login</a><br/>
<a href="/milestones"> /milestones</a><br/>
<a href="/milestones/register"> /milestones/register</a><br/>
<a href="/projects"> /projects</a><br/>
<a href="/projects/1"> /projects/1</a><br/>
<a href="/projects/update"> /projects/update</a><br/>
<a href="/tags"> /tags</a><br/>
<a href="/tags/register"> /tags/register</a><br/>
<a href="/tasks"> /tasks</a><br/>
<a href="/tasks/register"> /tasks/register</a><br/>
<a href="/tasks/1"> /tasks/1</a><br/>
<a href="/test"> /test</a><br/>




</body>
</html>