<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiniDooray!</title>
</head>
<body>


<a href="/projects/register">프로젝트 등록 /projects/register</a><br/>
<a href="/projects/4/modify">프로젝트 수정 /projects/4/modify</a><br/>
<a href="/projects/3/delete">프로젝트 삭제 /projects/3/delete</a><br/>
<br/>
<a href="/projects/1/members/register">프로젝트 멤버 등록 /projects/1/members/register</a><br/>
<a href="/projects/1/members/1/modify">프로젝트 멤버 수정 /projects/1/members/1/modify  미구현</a><br/>
<a href="/projects/1/members/1/delete">프로젝트 멤버 삭제 /projects/1/members/1/delete</a><br/>
<br/>
<a href="/projects/members/1">멤버아이디로 프로젝트 리스트 조회 /projects/members/1</a><br/>
<a href="/projects/1">프로젝트 아이디로 프로젝트 조회 /projects/1  미구현</a><br/>
<br/>
<a href="/projects/4/milestones/register">마일스톤 등록 /projects/4/milestones/register </a><br/>
<a href="/projects/1/milestones/1/modify">마일스톤 수정 /projects/1/milestones/1/modify 미구현</a><br/>
<a href="/projects/4/milestones/11/delete">마일스톤 삭제 /projects/4/milestones/11/delete </a><br/>
<br/>
<a href="/projects/4/tags/register"></a>태그 등록 /projects/4/tags/register<br/>
<a href="/projects/4/tags/1/delete"></a>태그 삭제 /projects/4/tags/1/delete<br/>
<br/>
<a href="/projects/4/tasks/register"></a>업무 등록 /projects/4/tasks/register<br/>
<a href="/projects/4/tasks/1/delete"></a>업무 삭제 /projects/4/tasks/1/delete<br/>
<br/>
<a href="/tasks/4/comments/register"></a>댓글 등록 /tasks/4/comments/register<br/>
<a href="/tasks/4/comments/1/delete"></a>댓글 삭제 /tasks/4/comments/1/delete<br/>
<br/>

<br/><br/><br/><br/>



<a href="/test"> /test</a><br/>

</body>
</html>