<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
</head>
<body>
<h1>Login</h1>
<form method="post" action="/normal-login">
    <input name="loginId" placeholder="아이디"><br/>
    <input name="password" type="password" placeholder="비밀번호"><br/>
    <input type="submit">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
<span th:if="${null != errorMessage}" th:text="${errorMessage}"></span><br/>
<br/>
<a href="/oauth2/authorization/github">Git HUB LOGIN</a><br/>

</body>
</html>
