<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Milestone Register</title>
</head>
<body>
<th:block th:include="/heading/login_info"/><br/>

<h2>Milestone Register Form</h2>
<form action="#" th:action="@{/projects/{projectId}/milestones/register(projectId=${projectId})}" th:object="${milestoneRegister}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Start Date: <input type="date" th:field="*{startDate}"/></p>
    <p>End Date: <input type="date" th:field="*{endDate}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>
