<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/heading/login_info"/><br/>

<h2>마일스톤 리스트</h2>
<table border="1">
        //여기 milestone id로 바꾸기
    <tr th:each="milestone : ${milestoneList}">
        <td th:text="${milestone.name}">이름</td>
        <td th:text="${milestone.startDate}">시작일</td>
        <td th:text="${milestone.endDate}">종료일</td>
        <td><a th:href="@{/projects/{projectId}/milestones/{milestoneId}/modify(projectId=${projectId}, milestoneId=${milestone.name})}">수정</a></td>
        <td><a th:href="@{/projects/{projectId}/milestones(projectId=${projectId})}">삭제</a></td>
    </tr>
</table>

</body>
</html>